body {
    background: var(--main-bg);
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    user-select: none;
}